
body {
  background-color: #e2e9ea;
}

.App {

}

.conatiner-one {
    position: absolute;
    margin-left: 5vw;
    /* border: 1px solid black; */
    border-radius: 47px;
    height: 90vh;
    width: 90vw;
    background-color: #f9fdfe;
    top: 3vw;
    -webkit-box-shadow: 7px 9px 17px -4px rgba(91,91,91,0.94);
    box-shadow: 17px 17px 18px -5px #949494;
}

.container-two {
    position: absolute;
    /* border: 1px solid red; */
    border-radius: 47px;
    height: 90vh;
    width: 90vw;
    background-color:#e2e9ea;
    -webkit-box-shadow: -11px -11px 14px -1px #FFFFFF;
    box-shadow: -11px -11px 14px -1px #FFFFFF;
}
